alembic==0.8.5
coverage==4.0.3
decorator==4.0.9
Flask==0.10.1
Flask-Failsafe==0.2
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
ipython==4.1.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5.1
python-editor==0.5
simplegeneric==0.8.1
SQLAlchemy==1.0.12
traitlets==4.2.1
Werkzeug==0.11.4
