.map-wrapper
  height: 100vh
  width: 100vw
  overflow: hidden
  position: absolute
  left: 0
  top: 0
  z-index: 1


#map
  height: 100vh
  width: 100vw
  // height: 140vh
  // width: 145vw
  // margin-bottom: -20vh
  // margin-left: -25vw
  // margin-top: -20vh
  // margin-right: -20vw
//  padding: 0 10vw

.timeline-wrapper
  background-color: blue
  bottom: 0
  height: 20px
  position: fixed
  width: 100%
  z-index: 90
