.angle-switcher {
  background-color: rgba(255, 255, 255, .2);
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 30em;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.12), 0 5px 10px -3px rgba(0,0,0,.3);
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0 .45em;
  text-align: center;
  vertical-align: top;

  &.up {
    i {
      @extend .#{$fa-css-prefix}-angle-double-up;
      color: white;
    }
  }

  &.down {
    i {
      @extend .#{$fa-css-prefix}-angle-double-down;
      color: black
    }
    i {
      @extend .#{$fa-css-prefix};
    }
  }

}
