// Bootstrap base modules
@import "vars";
@import "mixins";
@import "reboot";
@import "utilities";
@import "utilities-background";
@import "utilities-responsive";
@import "utilities-spacing";
@import "icons/font-awesome";


// Bootstrap components
@import "forms";
@import "buttons";
@import "nav";
@import "navbar";
@import "labels";

@import "angle-switcher.scss";
