<div id="top-menu">
  <div id="brand" class="fixed-logo">
    <a href="/" id="logo" class="main-logo label label-danger">HM</a>
    <a></a>
  </div>
  <nav class="navbar navbar-dark navbar-fixed-top bg-primary">
    <ul class="nav navbar-nav">
      <li class="nav-item"><a href="/about" class="nav-link">О нас</a></li>
      <li class="nav-item"><a href="/mymaps" class="nav-link">Мои карты</a></li>
      <li class="nav-item"></li>
      <li class="nav-item pull-xs-right"><a href="#" v-link="login" class="nav-link">Войти</a></li>
    </ul>

  <form class="form-inline">
    <input class="form-control" placeholder="Найти" type="text">
    <button class="btn btn-secondary-outline" type="submit">Search</button>
  </form>

  </nav>
 </div>